<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
    <link rel="stylesheet" href="comment.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body class="bg-dark">
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top" id="allnavbar" style="background: var(--nav-color);">
        <div class="container-fluid" >
            <a href="#" class="navbar-brand" style="padding-left: 20px; color: var(--text-color);">Group 7</a>
                    <div class="nav-user-icon nav-item" style="display: flex; align-items: center;" onclick="settingMenuToggle()">
                        <img style="width: 40px ; border-radius: 50%; cursor: pointer; color: white;" src="img/user.jpg" >
                    </div>
                    <div class="settings-menu">

                        <div id="dark-btn" >
                            <span></span>
                        </div>
                        <div class="settings-menu-inner">
                            <div class="user-profile">
                                <img src="img/user.jpg">
                                <div>
                                    <p>Nattawut Wattanamala</p>
                                    <a href="#">See your profile</a>
                                </div>
                            </div>
                            <hr>
                            <div class="setting-links">
                                <img src="img/setting.png" class="setting-icon">
                                <a href="#">Setting <img src="img/arrow.png" width="10px"></a>
                            </div>
                            <div class="setting-links">
                                <img src="img/logout.png" class="setting-icon">
                                <a href="#">Logout <img src="img/arrow.png" width="10px"></a>
                            </div>
                        </div>
                    </div>
            </div>  
        </div>    
    </nav>     
    <div class="container-sm post " style="padding-top: 70px;">
        <form action="#">
            <div class="user" style="display: flex;">
                <img src="img/profile-pic.png" >
                <h5 style=" color: var(--text-color);">Thanapon Yamaiwong</h5>
            </div>
            <p>
                <textarea name="content" placeholder="Comment"></textarea>
            </p>
            <div class="buttom">
                <p>
                    <button  type="submit">Send</button>
                </p>                
            </div>
            <hr>
            <div class="Comments">
                    <h4 style=" color: var(--text-color);">Comments</h4>                
                <div style="border: 1px solid gray; border-radius: 10px; margin-bottom: 15px;">
                    <div style="border-radius: 10px; padding: 10px; display: flex; align-items: center;">
                        <img src="img/profile-pic.png" style="width: 40px ; border-radius: 50%; margin-right: 10px;">
                        <h6 style=" color: var(--text-color);">Naruephon Wongchai</h6>             
                    </div>                    
                    <p style="padding: 10px; color: var(--text-color);">สวัสดีไอ่มด</p>
                </div>

            </div>
        </form>
    </div>      
    <script>
        var settingsmenu = document.querySelector(".settings-menu");
        var darkBtn = document.getElementById("dark-btn");
        function settingMenuToggle(){
            settingsmenu.classList.toggle("settings-menu-height")
        }
        darkBtn.onclick = function(){
            darkBtn.classList.toggle("dark-btn-on");
            document.body.classList.toggle("dark-theme");
        }        
    </script>
</body>
</html>