<?php include('index.php'); ?>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Group</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="layout">
        <div class="header">
            <form action="" class="search-bar">
                <input type="text" placeholder="search project" name = "q">
                <button type="submit"><img src="img/search.png" ></button>
            </form>
            <div class="side-nav">
                <!-- <button id="login" > -->
                    <div class="user">
                        <a href="/member/login">
                            <img src="img/7309681.jpg" class="user-img"></a>
                          
                        
                        <div>
                            <h2>Naruephon Wongchai</h2>
                            <p>naruephon1234@gmail.com</p>
                        </div>                              
                    </div>                
                <!-- </button> -->

                <ul>
                    <li><a href="http://127.0.0.1:5500/login.html"><img src="img/home.png"=></a><a href="#"><p>Home</p></a></li>
                    <li><a href="https://www.youtube.com/"><img src="img/upload.png"=></a><a href="#"><p>Upload</p></a></li>
                    <li><a href="https://www.youtube.com/"><img src="img/setting.png"=></a><a href="#"><p>Setting</p></a></li>
                    <li><a href="#"><img src=""=></a><a href="#"><p></p></a></li>
                    <li><a href="#"><img src=""=></a><a href="#"><p></p></a></li>
                    <li><a href="#"><img src=""=></a><a href="#"><p></p></a></li>
                    <li><a href="#"><img src=""=></a><a href="#"><p></p></a></li>
                    <li><a href="#"><img src=""=></a><a href="#"><p></p></a></li>
                    <li><a href="#"><img src=""=></a><a href="#"><p></p></a></li>
                    <li><a href="#"><img src=""=></a><a href="#"><p></p></a></li>
                    <li><a href="#"><img src=""=></a><a href="#"><p></p></a></li>

                    <!-- <li><img src="img/setting.png"><p>Setting</p></li> -->
                
                </ul>
                <ul>
                    <li><img src="img/logout.png"><p>Logout</p></li>                
                </ul>
            </div>     
        </div>        
    </div>



</body>
</html>