<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>แสดงข้อมูล</title>
    <link rel="stylesheet" href="../style.css">
    

</head>
<body>
    <header>
        <div class="head">
            <div class="logo">Clude</div>

            <div class="menu">
                <ul>
                    <li><a href="/member/member"><img src="https://cdn.icon-icons.com/icons2/1744/PNG/512/3643769-building-home-house-main-menu-start_113416.png" > home </a></li>
                    <li><a href="/member/setting"><img src="https://cdn.icon-icons.com/icons2/1946/PNG/96/1904675-configuration-edit-gear-options-preferences-setting-settings_122525.png" > setting </a></li>
                    <li><a href="/member/upload"><img src="https://cdn.icon-icons.com/icons2/3237/PNG/512/tool_social_media_edit_edit_post_aplication_icon_197319.png" > post </a></li>
                    <li><a href="/member/logout"><img src=""></a><a href="/member/logout">logout</a></li>  
                </ul>
            </div>

            <div class="profile">
                    Username:{{ user_name }} <br>Email:{{ user_email }} <!-- Replace with actual image path -->
            </div>
                <!-- ต้องแก้ -->
        </div>
    </header>
    
    <div class="search">
        <input type="text" placeholder="ค้นหา...">
    </div>

    <div class="container">
        <div id="post-container">
            <!-- ที่นี่จะแสดงข้อมูลโพส -->
        </div>
    </div>
    <script src="home.js"></script>
</body>
</html>
