<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body class="bg-dark">
    <section class="container">
        <div class="form-login">
            <div class="content">
                <header>Login</header>
                <form action="/member/verify" method="post">
                    <div class="field input-field">
                        <input type="email" placeholder="Email" class="input" name="user_email" id="user_email" required>
                    </div>
                    <div class="field input-field">
                        <input type="password" placeholder="Password" class="password"  name="user_password" id="user_password" required>
                        <i class='bx bx-hide eye-icon' style="font-size: 18px;"></i>
                    </div>
                    <div class="form-link">
                        <a href="/reset/reset" class="forgot-pass">Forgot password?</a>
                    </div>
                    <div class="mb-3 center">
                        {{msg}}
                    </div>     
                    <div class="field button-field">
                        <button type="submit">Login</button>
                    </div>
                    <div  class="form-link">
                        <span>Already have an account? <a href="/register/register" class="signup-link">Signup</a></span>
                    </div>
                </form>
            </div>

        </div>
    </section>
</body>
</html>