<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./upload.css">
    <title>Simple Social Media</title>
</head>
<body>
    <nav>
        <div class="conta">
            <div class="nav-con">
            <div class="logo">
                <a href="#">CPE</a>
            </div>
            <ul class="menu">
                    <li><a href="/member/member"><img src="img/home.png"=></a><a href="/member/member"><p>Home</p></a></li>
                    <li><a href="/upload/upload"><img src="img/upload.png"=></a><a href="/upload/upload"><p>Upload</p></a></li>
                    <li><a href="/setting/setting"><img src="img/setting.png"=></a><a href="/setting/setting"><p>Setting</p></a></li>
                    <li><a href="/member/logout"><img src="img/setting.png"=></a><a href="/member/logout"><p>logout</p></a></li>  
            </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        <div id="posts-container"></div>

        <form id="post-form">
            <label for="post-title">หัวข้อ:</label>
            <input type="text" id="post-title" placeholder="กรุณาใส่หัวข้อ">

            <label for="post-text">รายระเอียด:</label>
            <textarea id="post-text" rows="4" cols="50" placeholder="กรุณาใส่รายระเอียด"></textarea>

            <div class="upload">
                <label for="file-upload">อัพโหลดไฟล์ PDF:</label>
                <div class="upload-button" onclick="document.getElementById('file-upload').click()">เลือกไฟล์</div>
                <input type="file" id="file-upload" accept=".pdf,image/jpeg, image/png, image/jpg"> 
            </div>
            <!-- ปุ่มแสดงชื่อไฟล์ที่ถูกเลือก -->
            <div class="file-name" id="file-name"></div>

            <div class="post">
                <button type="button" onclick="createPost()">โพสต์</button>
            </div>
            
        </form>
    </div>

    <script src="./script.js"></script>
</body>
</html>
