<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="register.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <form action="/register/re" method="post">
            <h1>Register</h1>
            <div class="input-box">
                <input type="text" placeholder="user_name" id="user_name" name="user_name" required>
                <i class='bx bx-user'></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="user_passwork" id="user_passwork" name="user_passwork" required>
                <i class='bx bx-lock' ></i>
            </div>  
            <div class="input-box">
                <input type="text" placeholder="user_email" id="user_email" name="user_email" required>
                <i class='bx bx-envelope'></i>
            </div>      
    
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</body>
</html>