@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-login{
    max-width: 430px;
    width: 100%;
    border-radius: 6px;
    background: #fff;
    padding: 30px;
}
/*=== Header=== */
header{
    font-size: 28px;
    font-weight: 600;
    color: #232323;
    text-align: center;
}
form{
    margin-top: 30px;
}
form .field{
    position: relative;
    height: 45px;
    width: 100%;
    margin-top: 20px;
}
.field input{
    font-size: 16px;
    font-weight: 400;
    padding-left: 15px;
    height: 100%;
    width: 100%;
    border: none;
    border: 1px solid #CACACA;
}
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span{
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;  
    color: #232836;
}
.form-link a{
    color: #0171d3;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;  
}
.form-link a:hover{
    text-decoration: underline;
}
.eye-icon{
    position: absolute;    
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

