*{
    margin: 0;
    padding: 0;
    font-family: 'poppin', sans-serif;
}
:root{
    --body-color: #efefef;
    --nav-color: #fff;
    --bg-color:#fff;
    --text-color:#000;

}
.dark-theme{
    --body-color: #0a0a0a;
    --nav-color: #000;
    --bg-color:#000;
    --text-color:#fff;   
}
body{
    background: var(--bg-color);
    transition: background 0.3s;
}

#allnavbar{
    background: var(--nav-color);
}

.search-box {
    margin-top: 10px;
    border-radius: 20px; 
    text-align: center;
}

.search-box input{
    width: 100%;
    padding-left: 20px;
    color: white;
    margin-bottom: 10px;
}

.search-box input{
    width: 70%;
    padding-left: 20px;
    color: white;
    margin-bottom: 20px;
}
.write-post-container{
    width: 100%;
    background: var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color: var(--text-color);
    columns: var(--text-color);
    
}

.user-profile{
    display: flex;
    align-items: center;

}

.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;

}
.user-profile small{
    font-size: 12px;
}
.post-input-container{
    padding-left: 55px;
    padding-top: 20px;
}
.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
    color: var(--text-color);
}
.upload p {
    margin-left: 100px;
}

.add-post-links{
    display: flex;
    margin-bottom: 10px;
}
.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}
.add-post-links a img{
    width: 20px;
    margin-right: 10px;
}

.post-container{
    width: 100%;
    background:var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color:  var(--text-color);
    margin: 20px 0 ;
}
.post-text{
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;
}
.post-text span{
    color:  var(--text-color);
    font-weight: 500;
}
.post-text a{
    color: #1876f2;
    text-decoration: none;
}
.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}
.activity-icons div img{
    width: 18px;
    margin-right: 10px;
}
.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}
.post-profile-icon{
    display: flex;
    align-items: center;

}
.post-profile-icon img{
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.load-more-btn{
    display: block;
    margin: auto;
    
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a; 
    color: white; 
    background: transparent; 
    border-radius: 4px; 
}

.settings-menu{
    
    position: absolute;
    width: 90%;
    max-width: 350px;
    /* height: 500px; */
    
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 1%;
    max-height: 0;
    transition: max-height 0.3s;
}
.settings-menu-height{
    max-height: 450px;    
}
.user-profile a{
    font-size: 12px;
    color: #1876f2;
    text-decoration: none;
}
.settings-menu-inner{
    padding: 20px;
}
.settings-menu hr{
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;
}
.setting-links{
    display: flex;
    align-items: center;
    margin: 15px 0;

}
.setting-links .setting-icon{
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}
.setting-links a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;

}

#dark-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s, background 0.5s;
}

#dark-btn span{
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}
#dark-btn.dark-btn-on{
    padding-left: 23px;
    background: #000;
}
