<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>แสดงข้อมูล</title>
    <link rel="stylesheet" href="../css/style.css">
    
</head>
<body>
    <header>
        <div class="head">
            <div class="logo">Clude</div>

            <div class="menu">
                <ul>
                    <li><a href="/"><img src="https://cdn.icon-icons.com/icons2/1744/PNG/512/3643769-building-home-house-main-menu-start_113416.png" > home </a></li>
                </ul>
            </div>

            <div class="profile">
                <a href="/member/login"><img src="path/to/your/profile/image.jpg" > Login <!-- Replace with actual image path --></a>
            </div>
                <!-- ต้องแก้ -->
        </div>
    </header>
    
    <div class="search">
        <input type="text" placeholder="ค้นหา...">
    </div>

    <div class="container">
        <div id="post-container">
        
       {{#posts}}
        
            {{section}}
            {{Description}}
            {{times}}
            <br>
       {{/posts}}
       
        </div>
    </div>
    <script src="home.js"></script>
</body>
</html>
