<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>    
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>    
</head>
<body class="bg-dark">
    <section class="container">
        <div class="form-login">
            <div class="content">
                <header>Reset Password</header>
                <form action="/reset/resetpass" method="post">
                    <div class="field input-field">
                        <input type="email" placeholder="Email" class="input" name="user_email" id="user_email" required>
                    </div>
                    <div class="field input-field">
                        <input type="password" placeholder="New password" class="password"  name="user_password" id="user_password" required>
                        <i class='bx bx-hide eye-icon' style="font-size: 18px;"></i>
                    </div>
                    <div class="field button-field">
                        <button type="submit">Reset</button>
                    </div>
                </form>
            </div>

        </div>
    </section>
</body>
</html>