{{#user_name}}
        
            <div class="write-post-container ">
                <div class="user-profile">
                    <img src="img/user.jpg" alt="" >
                    <div>
                        <p>{{user_name}}</p>
                    </div>
                </div>
    <form action="/member/verify/upload" method="post" enctype="multipart/form-data">            
                <div class="post-input-container">
                    <textarea rows="3" placeholder="What's on your mind?" name="content" id="content"></textarea>
                </div>
            
                <div class="upload">
                    <h1> pdf <i class="fas fa-file-pdf"></i></h1>
                    <input type="file" name="file" id="pdf-upload" accept=".pdf">
                
                    <h1> jpg <i class="fas fa-file-image"></i></h1>
                    <input type="file" name="file" id="input-files" accept=".jpg, .jpeg">   
                </div>
            
                <div class ="post">
                    <button type="submit" >โพสต์</button>{{msg}}
                </div>
         
                    <div class="col-sm-12">
                        <div class="preview-images">
                
                        </div>
                    </div>
 
            </div>   

    </form>
  
{{/user_name}}