{{#user_name}}
    <form action="">
        
            <div class="write-post-container ">
                <div class="user-profile">
                    <img src="img/user.jpg" alt="" >
                    <div>
                        <p>{{user_name}}</p>
                    </div>
                </div>
                <div class="post-input-container">
                    <textarea rows="3" placeholder="What's on your mind?"></textarea>
                </div>
            
                <div class="upload">
                    <h1> pdf <i class="fas fa-file-pdf"></i></h1>
                    <input type="file" id="pdf-upload" accept=".pdf">
                
                    <h1> jpg <i class="fas fa-file-image"></i></h1>
                    <input type="file" id="jpg-upload" accept=".jpg, .jpeg">
                </div>
            
                <div class ="post">
                    <button type="submit" onclick="submitPost()">โพสต์</button>
                </div>
            </div>
    </form>
  
{{/user_name}}