
    <form action="">
        <div class="container-sm  " style="height: 100% ;padding-top: 14px; justify-content: center; margin-top: 50px;">
                <div class="search-box">
                    <img src="img/search.png" style="width: 20px;">
                    <input class="bg-secondary " type="text" placeholder=" Search" style="border-radius: 20px;">
                </div>
            <div class="write-post-container ">
                <div class="user-profile">
                    <img src="img/user.jpg" alt="" >
                    <div>
                        <p>{{user_name}}</p>
                    </div>
                </div>
                <div class="post-input-container">
                    <textarea rows="3" placeholder="What's on your mind?"></textarea>
                </div>
            </div>
               
    </form>
