{{#data}}
<nav class="navbar navbar-expand-sm navbar-dark fixed-top" id="allnavbar" style="background: var(--nav-color);">
        <div class="container-fluid" >
            <a href="/member/verify" class="navbar-brand" style="padding-left: 20px; color: var(--text-color);">Group 7</a>
                    <!--================================== Profile==================================================== -->
                    <div class="nav-user-icon nav-item" style="display: flex; align-items: center;" onclick="settingMenuToggle()">
                        <img style="width: 40px ; border-radius: 50%; cursor: pointer;" src="https://www.mgp.net.au/wp-content/uploads/2023/05/150-1503945_transparent-user-png-default-user-image-png-png.png">
                    </div>

                    <!-- ============================Setting ================================ -->
                    <div class="settings-menu">

                        <div id="dark-btn" >
                            <span></span>
                        </div>
                        <div class="settings-menu-inner">
                            <div class="user-profile">
                                <img src="https://www.mgp.net.au/wp-content/uploads/2023/05/150-1503945_transparent-user-png-default-user-image-png-png.png     ">
                                <div>
                                    <p>{{user_name}}</p>
                                    <a href="/member/verify/myposts">See your profile</a>
                                </div>
                            </div>
                            <hr>
                            <div class="setting-links">
                                <img src="https://icon-library.com/images/settings-icon-png/settings-icon-png-18.jpg" class="setting-icon" >
                                <a href="/member/verify/setting">Setting <img src="https://pngbuy.com/wp-content/uploads/2023/05/arrow-png-Black-and-white-arrow-png-400x400.png" width="10px"></a>
                            </div>
                            <div class="setting-links">
                                <img src="https://icons.veryicon.com/png/o/object/material-design-icons-1/login-7.png" class="setting-icon">
                                <a href="/member/logout">Logout <img src="https://pngbuy.com/wp-content/uploads/2023/05/arrow-png-Black-and-white-arrow-png-400x400.png" width="10px"></a>
                            </div>
                            <!-- ============================Setting ================================ -->
                        </div>

                    </div>
                    <!--================================== Profile==================================================== -->
                
            </div>
            <!--============================== MENU=============================== -->     
        </div>
      
    </nav>
    
{{/data}}