<nav class="navbar navbar-expand-sm navbar-dark fixed-top" id="allnavbar" style="background: var(--nav-color);">
        <div class="container-fluid">
            <a href="/" class="navbar-brand" style="padding-left: 20px; color: var(--text-color);">Group 7</a>
                    <!--================================== Profile==================================================== -->    
                    <form action="#"  style="display: flex; align-items: center;">
                        <div class="tapsearch">
                            <input type="text" placeholder="Search" style="border-radius:15px; padding-left:13px;">
                        </div>
                        <div class="nav-user-icon" style="display: flex;  margin-left: 20px;" onclick="settingMenuToggle()">
                            <img style="width: 40px ; border-radius: 50%; cursor: pointer;" src="https://www.mgp.net.au/wp-content/uploads/2023/05/150-1503945_transparent-user-png-default-user-image-png-png.png">
                        </div>
                    </form>                     
                    <!-- ============================Setting ================================ -->
                    <div class="settings-menu">

                        {{! <div id="dark-btn" >
                            <span></span>
                        </div>
                        <div class="settings-menu-inner">
                            <div class="user-profile">
                                <img src="img/user.jpg">
                                <div>
                                    <p>Nattawut Wattanamala</p>
                                    <a href="/member/myposts">See your profile</a>
                                </div>
                            </div>
                            <hr>
                            <div class="setting-links">
                                <img src="img/setting.png" class="setting-icon">
                                <a href="/member/setting">Setting <img src="img/arrow.png" width="10px"></a>
                            </div> }}
                            <div class="setting-links">
                                <img src="https://www.freeiconspng.com/thumbs/login-icon/black-login-icon--0.png" class="setting-icon">
                                <a href="/member/login">Login </a>
                            </div>
                            <!-- ============================Setting ================================ -->
                        </div>

                    </div>
                    <!--================================== Profile==================================================== -->
                
            </div>
            <!--============================== MENU=============================== -->     
        </div>
      
    </nav>