{{#mypost}}
                <div class="post-container">
                    <div class="port-row" style="display: flex; justify-content: space-between;">
                        <div class="user-profile">
                            <img src="https://www.mgp.net.au/wp-content/uploads/2023/05/150-1503945_transparent-user-png-default-user-image-png-png.png" >
                            <div>
                                <p>{{user_name}}</p>
                                <span style="font-size: 13px; color: #9a9a9a;">{{times}}</span>
                            </div>
                        </div>              
                        <a style="color: #9a9a9a;" href="#"><i class="fa-solid fa-ellipsis-v"></i></a>     
                    </div>

                    <p class="post-text"><span>{{content}}</span> </p>     
                    <img src="http://localhost:3000/img/{{img}}" class="post-img">
                    <a href="http://localhost:3000/img/{{pdf}}" target="_blank">Project</a>

                    <div class="post-row" style="display: flex; align-items: center; justify-content: space-between;">
                        <div class="activity-icons" style="display: flex; margin-top: 10px;">
                            <div><i class='bx bx-like bx-md mb-2' style='color:#777474'  ></i> 120</div>
                            <div><a href="/comment"><i class='bx bx-comment-detail bx-md ' style='color:#777474; margin-right:4px' ></i></a>45</div>
                        </div>
                    </div>
                </div>
{{/mypost}}