{{#posts}}
                <div class="post-container">
                    <div class="port-row" style="display: flex; justify-content: space-between;">
                        <div class="user-profile">
                            <img src="https://scontent.fbkk5-8.fna.fbcdn.net/v/t39.30808-1/396838179_1454789905091521_6231677858841065632_n.jpg?stp=cp6_dst-jpg_p200x200&_nc_cat=106&ccb=1-7&_nc_sid=5740b7&_nc_ohc=aUIaMYpz2FwAX-m33rz&_nc_oc=AQl-mZ-JnJonbyX_z4IftmDnInhPyfh2f_c915rXUbp77WghaXsE60ededpgMex1-wE&_nc_ht=scontent.fbkk5-8.fna&oh=00_AfDCvAnD5vZesE1NDbUbYI1vSXb6aNBNgfgNjP83koq0tA&oe=65CC61C2" alt="" >
                            <div>
                                <p>{{user_name}}</p>
                                <span style="font-size: 13px; color: #9a9a9a;">{{times}}</span>
                            </div>
                        </div>              
                        <a style="color: #9a9a9a;" href="#"><i class="fa-solid fa-ellipsis-v"></i></a>     
                    </div>

                    <p class="post-text"><span>{{content}}</span></p>     
                    <img src="http://localhost:3000/img/{{img}}" class="post-img">
                    <a href="http://localhost:3000/img/{{pdf}}" target="_blank">Project</a>

                    <div class="post-row" style="display: flex; align-items: center; justify-content: space-between;">
                        <div class="activity-icons" style="display: flex; margin-top: 10px;">
                            <div><a href="/comment/verify/comment/{{post_id}}"><i class='bx bx-comment-detail bx-md ' style='color:#777474; margin-right:4px' ></i></a> {{post_id}}</div>
                        </div>
                    </div>
                </div>
{{/posts}}