
        <section id="profile-section">
            <div >
                <img src="/profile-picture.jpg" alt="Profile Picture">
            </div>
            
            <div class="name">
            <h2 id="username">:{{datas.user_name}}</h2>
            <p>:{{datas.user_email}}</p>
    
            <form id="profile-form">
                <div class="user">
                    <label for="newUsername">New Username:</label>
                    <input type="text" id="newUsername" name="newUsername" required>
                </div>
                
                <div class="pass">
                    <label for="Password">Old Password:</label>
                    <input type="password" id="Password" name="Password" required>
                </div>

                <div class="pass-new">
                    <label for="newPassword">New Password:</label>
                    <input type="password" id="newPassword" name="newPassword" required>
                </div>
                <div class="profile">
                    <label for="newProfilePicture">New Profile Picture:</label>
                    <input type="file" id="newProfilePicture" name="newProfilePicture" accept=".jpg">
                    <button type="button" onclick="document.getElementById('newProfilePicture').click()">Choose jpg</button>
                    <p id="selectedFileName"></p>
                </div>
                <div class="save">
                    <button type="button" onclick="updateProfile()">Update Profile</button>
                </div>
            </form>
            </div>
        </section>
