body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
}

/* ต้องบนทั้งหมด */
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    background-color: rgb(155, 86, 245);
    color: #fff;
}
.logo {
    font-family: Impact, fantasy;
    font-size: 50px;
}

.menu {
    display: flex;
}
.menu ul {
    list-style-type: none;
    display: flex;
    gap: 60px; 
    text-decoration: none;
    font-size: 20px;
}
.menu ul li a {
    
    text-decoration: none; /* ลบเส้นใต้ของลิงก์ */
}
.profile {
    align-items: center;
}
.profile img {
    width: 30px;
    height: 30px;
    border-radius: 20%;
    margin-right: 5px;
}
.menu img {
    width: 30px;
    height: 30px;
}
/* ถึงนี่ */

.search {
    text-align: center;
    margin-top: 50px;
}
.search input {
    width: 500px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}
.post p {
    /* border: 1px solid red; */
    width: 100%;
}
  
img {
    max-width: 100%;
    height: auto;
    border-radius: 20%; /* ใส่วงกลมให้รูปโปรไฟล์ */
}

#post-container {
    margin-top: 0px;
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
