* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}
nav {
    padding: 1rem;
    background-color: #333;
   
}

.nav-con {
    display: flex;
    justify-content: space-between;
}

.logo a {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;

}

.menu {
    display: flex;
    list-style: none; 
    align-items: center;
}

.menu li {
    margin: 1rem;
}

.menu li a {
    color: #fff;
    text-decoration: none; 
}

/* box1 */
/********************* search bar ****************************/
.hero-con {
    padding: 20rem;   
}
.search-bar{
    width: 100%;
    max-width: 700px;
    background: rgba(23, 0, 231, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
    
}
.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #000000;
    /* border: 1px solid red;     */
}
::placeholder{
    color: #7471a3;
}
.search-bar button img {
    width: 25px;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #6577dd;
    cursor: pointer;
}



.hero-img {
    padding: 2rem;
    width: 100%;
}

/* box2 */

/* footer */
.footer-botton {
    background-color: #fff;
    padding: 1rem;
    text-align: center;
}